manifest {
    author = 'OceanOmics'
    name = 'OceanOmics-Amplicon-Nextflow' 
    description = 'This is the nextflow version of the OceanOmics amplicon pipeline'
    mainScript = 'main.nf'
    version = '0.0.1'
}

resume = true

// The parameters for the pipeline
params {
    // skipDemux lets you skip the demultiplex step
    skipDemux = false

    voyage_id = "ABV4"
    assay = "16S"
    sequencing_run_id = "210815_VH00640_4_AAAH3HHHV"
    cores = 50
    metadata_file = "/home/abennett/data/sandbox/adam/nextflow_test/ABV4_metadata.csv"
    indices_file = "/home/abennett/data/sandbox/adam/nextflow_test/ABV4_indices.csv"

    // dada_option can be "TRUE", "FALSE", or "pseudo"
    dada_option = "TRUE"

    // database_option can be nt, or custom
    database_option = "nt"
    path_to_db = "/home/abennett/data/tools/databases/ncbi-nt/nt"

    // Ignore these if using the --skipDemux option
    Fw_index = "/home/abennett/data/sandbox/adam/nextflow_test/ABV4_16S_Fw.fa"
    Rv_index = "/home/abennett/data/sandbox/adam/nextflow_test/ABV4_16S_Rv.fa"
    sample_rename_pattern = "/home/abennett/data/sandbox/adam/nextflow_test/Sample_name_rename_pattern_ABV4_16S.txt"
    raw_data.R1 = "/home/abennett/data/raw_data/OceanOmics/amplicon/210815_VH00640_4_AAAH3HHHV_AB21/AbrolhosV4_MiFish_Fish16S_S1_R1_001.fastq.gz"
    raw_data.R2 = "/home/abennett/data/raw_data/OceanOmics/amplicon/210815_VH00640_4_AAAH3HHHV_AB21/AbrolhosV4_MiFish_Fish16S_S1_R2_001.fastq.gz"
    
    // Ignore this if not using the --skipDemux option
    demux_dir = "/home/abennett/data/sandbox/adam/nextflow_test/demux_files" // The directory containing the demultiplexed files (with extensions .fq.gz)

    // These are the names of the scripts in the 'scripts' directory 
    // You shouldn't need to change these values unless you wish to use a custom script
    setup_script = "00-setup.sh"
    demultiplex_script = "01-demultiplex.sh"
    rename_script = "02-rename_demux.sh"
    seqkit_script = "03-seqkit_stats.sh"
    dada2_script = "04-DADA2.R"
    reorganise_script = "Reorganise.sh"
    lulu_script = "05-run_LULU.sh"
    blast_script = "06-run_blast.sh"
    lca_script = "07-run_LCA.sh"
    lca_filter_script = "07.1-LCA_filter_nt_only.R"
    decontam_script = "08-Decontam.R"
    phyloseq_script = "09-create_phyloseq_object.R"
    report_script = "10-amplicon_report.sh""
}

