manifest {
    author = 'Adam Bennett'
    name = 'OceanOmics-Amplicon-Nextflow' 
    description = 'This is the nextflow version of the OceanOmics amplicon pipeline using Docker containers'
    mainScript = 'main.nf'
    version = '0.0.1'
}

resume = true

// The parameters for the pipeline
params {
    // skip_demux lets you skip the demultiplex step
    skip_demux = false

    voyage_id = "ABV4"
    assay = "16S"
    sequencing_run_id = "210815_VH00640_4_AAAH3HHHV"
    cores = 50
    metadata_file = "/home/abennett/data/sandbox/adam/nextflow_test/ABV4_metadata.csv"
    indices_file = "ABV4_indices.csv"

    // dada_option can be "TRUE", "FALSE", or "pseudo"
    dada_option = "TRUE"

    // database_option can be nt, or custom
    database_option = "nt"
    path_to_db = "/home/abennett/data/tools/databases/ncbi-nt/nt"

    // Ignore these if using the --skip_demux option
    Fw_index = "/home/abennett/data/sandbox/adam/nextflow_test/ABV4_16S_Fw.fa"
    Rv_index = "/home/abennett/data/sandbox/adam/nextflow_test/ABV4_16S_Rv.fa"
    sample_rename_pattern = "/home/abennett/data/sandbox/adam/nextflow_test/Sample_name_rename_pattern_ABV4_16S.txt"
    raw_data.R1 = "/home/abennett/data/raw_data/OceanOmics/amplicon/210815_VH00640_4_AAAH3HHHV_AB21/AbrolhosV4_MiFish_Fish16S_S1_R1_001.fastq.gz"
    raw_data.R2 = "/home/abennett/data/raw_data/OceanOmics/amplicon/210815_VH00640_4_AAAH3HHHV_AB21/AbrolhosV4_MiFish_Fish16S_S1_R2_001.fastq.gz"
    
    // Ignore this if not using the --skip_demux option
    demux_dir = "/home/abennett/data/sandbox/adam/nextflow_test/demux_files" // The directory containing the demultiplexed files (with extensions .fq.gz)

    publish_dir = "./results"
    publish_dir_mode = "symlink"
}

process.container = 'sebrauschert/amplicon_pipeline:v0.2'

docker {
    enabled = true
    runOptions = '-v $PWD:/mnt/scratch -u \$(id -u $USER):\$(id -g $USER)'
}